
.projects {
  &_title{
    margin: 20px 0;
  }

  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
    @media (max-width:1120px) {
      grid-template-columns: repeat(2, 1fr);
  
    }
    @media (max-width:730px) {
      grid-template-columns: repeat(1, 1fr);
    }
  
  }
}




.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
}
